<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/diakosmisi.css">
    <title>υπολογισμός βαθμου τετραμήνου</title>
</head>
<body>
    <div class="container">
        <h1>σε ποια ταξη εισαι:</h1>
        <form method="POST">
            <select name="option">
                <option value="option1">πρώτη</option>
                <option value="option2">δευτέρα</option>
                <option value="option3">τρίτη</option>
            </select>
            <br><br>
            <input type="submit" value="υποβολή">
        </form>
    </div>
</body>
</html>
