<!DOCTYPE html>
<html lang="en">
    <head>
        <title>ypologismos_mesoy_orou_bathmou_tetramhnou</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/css1.css') }}" rel="stylesheet">
        
    </head>
    <body>
        <h1 id="tittle">ypologismos_mesoy_orou_bathmou_tetramhnou</h1>
        <form action="/taji" method="post"></form>
        <label for="cars">ti taji pate:</label>
        <select id="taji" name="taji_html">
            <option value="a">a</option>
            <option value="b">b</option>
            <option value="c">c</option>
        </select>
        <input type="submit" value="Submit">
        






        <!--<div>timi_apo_to_arxeio_python:{{mesi_timi}}</div>-->
    </body>
</html>